@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Viaoda+Libre&display=swap');
.content-display{
    z-index: 99999;
    height:auto;
    width: 100%;
    position: relative;
    cursor: default;
    color: #FFFFE0;
    font-family: "Viaoda Libre", serif;
}

.content-display * {
    font-family: inherit;
}

.content-display h2, .content-display p{
    z-index: 201;
}

.content-display h2{
    font-size: 2.3rem;
    text-align: left;
    opacity: 1;
    line-height: 4.5rem;
}

.content-display p{
    text-align: left;
    font-size: 1.5rem;
    margin: 0.6rem 0;

    /*opacity:0;*/
}

.content-page{
    height:100vh;
    position: relative;
}

.board-frame{
    overflow: hidden;
    padding: 1rem 2.5rem;
    position: absolute;
    left: 2.5%;
    top: 6.5%;
    height:83%;
    width: 74%;
    background-color: rgba(255, 0, 0, 0.1);
}

#content-page-1 .content-visual{
    max-width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}


#content-page-1 .image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    mask-image: url("/star-mask.png");
    mask-repeat: no-repeat;
    mask-size: 35%;
    mask-position: center;
}

.image-container img{
    width: 100%;
    height: 100%;
}

#content-page-1 .image-description{
    font-size: 1.4rem;
    text-wrap: wrap;
    text-align: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.pagination-overlay{
    z-index: 999999;
}