.book {
  position: fixed;
  top: 42%;
  left: 0;
  right: 0;
  scale: 2.5;
  margin: auto;
  width: 22.2rem;
  height: 15rem;
  perspective: 70rem;
}
.cover {
  transform: rotateY(0deg);
  left: 0;
  width: 11.1rem;
  height: 15rem;
  position: absolute;
  border-radius: 5px 0 0 5px;
}
.cover.back {
  transform-origin: 100% 0;
  transform: rotateY(180deg);
}
.page {
  z-index: 9;
  top: 0.25rem;
  left: 0.25rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  width: 10.85rem;
  height: 14.5rem;
  position: absolute;
  border-radius: 5px 0 0 5px;
  transform-origin: 100% 0;
  transform-style: preserve-3d;
  box-shadow: inset 3px 0px 20px rgba(0, 0, 0, 0.2),
    0px 0px 15px rgba(0, 0, 0, 0.1);
}

.page::before {
    content: "";
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noise' x='0' y='0'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3CfeColorMatrix type='saturate' values='0'/%3E%3CfeBlend mode='multiply' in='SourceGraphic'/%3E%3C/filter%3E%3Crect width='100' height='100' filter='url(%23noise)' opacity='0.1'/%3E%3C/svg%3E");
    border-radius: 5px 0 0 5px;
    opacity: 0.8;
    pointer-events: none;
}

.page-front,
.page-back {
  position: absolute;
  width: 100%;
  height: 100%;
}

.page-front {
  position: absolute;
  z-index: 2;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: flex;
  padding: 0;
  border-radius: 5px 0 0 5px;
  backface-visibility: hidden;
}

.page-front .content {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.page-front .content .article-content {
  font-size: 6px;
  width: 100%;
  padding: 2px 5px;
  min-height: 130px;
  display: flex;
  gap: 0;
  align-items: flex-start;
  text-align: left;
}
.page-front .content .article-content .first-letter {
  font-size: 16px;
  height: 15px;
  display: flex;
  align-items: center;
}

.page-back {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  transform: rotateY(180deg);
  background-color: var(--primary-color);
  opacity: 0.9;
  border-radius: 0 5px 5px 0;
  backface-visibility: hidden;
}

.page-images {
  height: 80px;
  width: 160px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.hand-canvas-book {
    position: fixed;
    z-index: 900;
    width: 100%;
    height: 100vh;
    cursor: none;
}

.tool-bar {
  position: fixed;
  z-index: 100;
  top: 40%;
  left: 90px;
  width: 60px;
  height: 250px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 24px;
  border: 2px solid #333;
}

.tool-bar .tool-set {
  background-color: transparent;
  color: #555;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border-radius: 50%;
  border: 2px solid #555;
  transition: all 0.3s ease;
}
.tool-bar .tool-set:hover { background-color: rgba(255, 255, 255, 0.3); cursor: none; }
.tool-bar .tool-set.active {
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid rgba(255, 255, 255, 0.6);
}

.tool-bar #magnify {
  position: absolute;
  height: 160px;
  color: #555;
  transform: rotateZ(-45deg) translate(55px, 85px);
  outline: none;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.tool-bar #magnify:hover {
  cursor: none;
}

.magnifier-wrapper {
  position: fixed;
  z-index: 100;
  pointer-events: none;
  transition: all 0.25s ease;
}

.magnifying-glass {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #333;
  background: radial-gradient(#fefefe57 40%, #ccccccd4);
}

.magnify-handle {
  position: absolute;
  z-index: -1;
  width: 160px;
  height: 30px;
  top: calc(102%);
  left: 69%;
  background-color: rgb(92, 55, 13);
  border: 3px solid #333;
  border-radius: 0 24px 24px 0;
  transform: rotate(45deg);
}

.magnifying-glass::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 15px;
  top: 65%;
  left: 65%;
  background-color: white;
  border-radius: 50%;
  opacity: 0.5;
  transform: rotate(-45deg);
}

.magnified-content {
  position: fixed;
  top: 0;
  right: 0;
  transform-origin: 0 0;
}

.book-clone {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

/* .image-page {
  width: 48.6%;
  height: 97%;
  position: absolute;
  border-radius: 2px;
  left: 50.1%;
  top: 1.5%;
  box-shadow: inset 3px 0px 20px rgba(0, 0, 0, 0.2),
    0px 0px 15px rgba(0, 0, 0, 0.1);
  border:solid 5px #555; 
  background-color: var(--primary-color);
  color: var(--secondary-color);
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.context-images {
  width: 100%;
  height: 100%;
  border:solid 8px white;
  padding: 0;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
} */