.background-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(to right bottom, #dddddd, #ababb1, #7a7b87, #4b5060, #1d283b);
  perspective: 1px;
  transform-style: preserve-3d;
  pointer-events: none;
  transition: all 0.4s ease;
}

.parallax_container {
  position: absolute;
  left: 0;
  top: 100px;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.secondary-title {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding: 0 120px 0 20px;
  height: 400px;
  line-height: 80px;
  z-index: 1;
  font-size: 6rem;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-align: right;
  color: #fff;
  background-image: linear-gradient(to left bottom, #465b70, #34475b, #233447, #122334, #001122);
            text-shadow: 
                0 1px 0 #ccc,
                0 2px 0 #c9c9c9,
                0 3px 0 #bbb,
                0 4px 0 #b9b9b9,
                0 5px 0 #aaa,
                0 6px 1px rgba(0, 0, 0, .1),
                0 6px 1px rgba(0, 0, 0, .1),
                0 1px 3px rgba(0, 0, 0, .3),
                0 3px 5px rgba(0, 0, 0, .2),
                0 5px 10px rgba(0, 0, 0, .25),
                0 10px 20px rgba(0, 0, 0, .2),
                0 20px 20px rgba(0, 0, 0, .15);
}

.parallax-foreground {
  width: 40%;
  height: 70%;
  position: absolute;
  z-index: 2;
  top: 180px;
  left: -40px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('');
}

.svg-frame {
	position: absolute;
  right: -45%;
  bottom: -20%;
	width: 100%;
	height: 455px;
	transform-style: preserve-3d;
	display: flex;
  scale: 0.8;
	justify-content: center;
	align-items: center;
	animation: change-view 4s ease-in infinite;
}

@keyframes change-view {
	0%,
	50% {
		transform: rotate(-0deg) skew(00deg) translateX(calc(0 * var(--i)))
			translateY(calc(-0px * var(--i)));
	}

	70%,
	100% {
		transform: rotate(-80deg) skew(30deg) translateX(calc(45px * var(--i)))
			translateY(calc(-35px * var(--i)));
	}
}

svg {
	position: absolute;
	transition: 0.5s;
	transform-origin: center;
	width: 450px;
	height: 450px;
	fill: none;
	animation: change-view 10s ease-in-out infinite alternate;
	filter: drop-shadow(0 0 12px #00aaff);
}

#big-centro,
#outter1,
#solo-lines,
#center,
#outter-center,
#bottom-dots,
#center-lines,
#squares,
#top-dots {
	transform-origin: center;
	animation: rotate 10s ease-in-out infinite alternate;
}

#big-centro {
	animation-delay: -1.5s;
}

#outter1 {
	animation-delay: -1.2s;
}

#center {
	animation-delay: -2.2s;
}

#bottom-dots,
#top-dots {
	animation-duration: 7s;
}

#center-lines,
#outter-center {
	animation-duration: 6s;
	animation-delay: -3s;
}

@keyframes rotate {
	to {
		transform: rotate(360deg);
	}
}