.background-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 200vh;
  background-color: #efecdb;
  perspective: 1px;
  transform-style: preserve-3d;
  pointer-events: none;
  transition: all 0.4s ease;
}

.parallax_container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transform-style: preserve-3d;
}

.parallax-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-position: bottom;
  background-size: 90% 100%;
  background-repeat: no-repeat;
  background-image: url('../../assets/Ayuntamiento_Ciudad_Ho_Chi_Minh_Vietnam_2013-08-14_DD_01.jpg');
}

.parallax-background::before {
	content: "";
  position: absolute;
  top: 0;
  left: 50%;
	width: 100%;
	height: 100%;
  filter: sepia(0.75) blur(1px);
	box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  background-position: -450% 0%;
  background-size: 90% 100%;
  background-repeat: no-repeat;
  background-image: url('../../assets/Ayuntamiento_Ciudad_Ho_Chi_Minh_Vietnam_2013-08-14_DD_01.jpg');
}

.parallax-foreground {
  width: 100%;
  height: 90%;
  position: absolute;
  top: 180px;
  left: -400px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../../assets/12295353-Ho-Chí-Minh-monument-in-Ho-Chi-Minh-City-Vietnam.png');
}

.film, .effect {
  top: 0;
  left: 50%;
  position: absolute;
	width: 100%;
	height: 100%;
	filter: invert(1) drop-shadow(0px 0px 0px #fff1);
}

.film:after, .effect:after {
	content: '';
	width: 120%;
	height: 100%;
  position: absolute;
	top: 0;
	left: 5%;
	padding-left: 100px;
	opacity: 0.5;
	animation: film-scratch 0.45s steps(1) infinite;
	background: repeating-linear-gradient(90deg, #0002 0 2px, transparent 4px 37vmin);
}

.effect:after {
  position: absolute;
	left: 30%;
	animation: effect-scratch 2s infinite;
}

.grain {
  position: absolute;
  left: -40%;
	width: 100%;
	height: 100%;
}

.grain:after {
	content: '';
  position: absolute;
	width: 110%;
	height: 110%;
	top: -5%;
	left: -5%;
	opacity: .25;
	background-image: 
		repeating-conic-gradient(black 0%, transparent .00003%, transparent .0005%, transparent .00095%),
		repeating-conic-gradient(black 0%, transparent .00005%, transparent 0.00015%, transparent 0.0009%);
	animation: grain 0.5s steps(1) infinite;
	filter: drop-shadow(0px 0px 1px black);
}

@keyframes grain {
	0%, 100% { transform: translate(0, 0); }
	10% { transform: translate(-1%, -1%); }
	20% { transform: translate(1%, 1%); }
	30% { transform: translate(-2%, -2%); }
	40% { transform: translate(3%, 3%); }
	50% { transform: translate(-3%, -3%); }
	60% { transform: translate(4%, 4%); }
	70% { transform: translate(-4%, -4%); }
	80% { transform: translate(2%, 2%); }
	90% { transform: translate(-3%, -3%); }
}

@keyframes film-scratch {
	0%, 100% { transform: translateX(0); opacity: 0.5; }
	10% { transform: translateX(-1%); }
	20% { transform: translateX(1%); }
	30% { transform: translateX(-2%); opacity: 0.75; }
	40% { transform: translateX(3%); }
	50% { transform: translateX(-3%); opacity: 0.5; }
	60% { transform: translateX(8%); }
	70% { transform: translateX(-3%); }
	80% { transform: translateX(10%); opacity: 0.25; }
	90% { transform: translateX(-2%); }
}

@keyframes effect-scratch {
	0% { transform: translateX(0); opacity: 0.75; }
	10% { transform: translateX(-1%); }
	20% { transform: translateX(1%); }
	30% { transform: translateX(-2%); }
	40% { transform: translateX(3%); }
	50% { transform: translateX(-3%); opacity: 0.5; }
	60% { transform: translateX(8%); }
	70% { transform: translateX(-3%); }
	80% { transform: translateX(10%); opacity: 0.25; }
	90% { transform: translateX(20%); }
	100% { transform: translateX(30%); }
}

.lensflare {
  position: absolute;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  pointer-events: none;
}

.source-spread {
  position: absolute;
      background: radial-gradient(rgba(255,225,255,.05) 10%, rgba(255,225,255,.05) 30%, rgba(0,0,0,0) 60%);
  border-radius: 50%;
  width: 2000px;
  height: 2000px;
  margin-top: -1000px;
  margin-left: -1000px;
  top: 14%;
  left: 14%;
  z-index: 10;
}

.source {
  position: absolute;
  background: radial-gradient(
      rgba(255,255,255,1) 0%,
      rgba(243,206,205,.4) 35%,
      rgba(88,88,88,.3) 60%,
      rgba(0,0,0,0) 70%);
  border-radius: 50%;
  width: 800px;
  height: 800px;
  margin-top: -400px;
  margin-left: -400px;
  top: 14%;
  left: 14%;
  z-index: 2;
  opacity: 0.6;
}

.source-beam {
  position: absolute;
  background: radial-gradient(
      rgba(255,255,255,.3) 0%,
      rgba(0,0,0,0) 70%);
  border-radius: 50%;
  width: 2200px;
  height: 28px;
  margin-top: -14px;
  margin-left: -1100px;
  top: 14%;
  left: 14%;
  z-index: 1;
}

.c1 {
  position: absolute;
      background: radial-gradient(ellipse at center, rgba(189,91,87,0) 40%, rgba(189,91,87,0.5) 45%, rgba(189,91,87,0) 50%, rgba(189,91,87,0) 100%);
  border-radius: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  top: 14%;
  left: 14%;
  z-index: 3;
  opacity: 0.2;
}

.c2 {
  position: absolute;
      background: radial-gradient(ellipse at center, rgba(162,196,134,0) 20%, rgba(162,196,134,0.3) 43%, rgba(67,85,52,0) 50%, rgba(67,85,52,0) 100%);
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin-top: -150px;
  margin-left: -150px;
  top: 3%;
  left: 3%;
  z-index: 4;
}

