@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');

* {
  box-sizing: border-box;
}

#root {
  margin: 0;
  text-align: center;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: transparent;
  
  --background-color: #333;
  --primary-color: #f8f5e6;
  --secondary-color: #2b2118;
  --accent-color: #8b5a2b;
  --ink-blot: #1e1e1e;
  --paper-shadow: rgba(0, 0, 0, 0.2);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  top: 0;
  left: 0;
}

.app:has(.book-container) {
  background-color: #c9bca5;
  height: 400vh;
}

.bpFabWrapper {
    bottom: 5px;
    right: 5px;
    opacity: 0.7;

    animation: bounce 0.8s ease-in-out 3, pulse 15s infinite, pulseDropShadow 15s infinite alternate;
    transform-origin: center;
}


@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    20%, 80% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(0);
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        opacity: 0.1;
    }
    50% {
        transform: scale(1.05);
        opacity: 0.7;
    }
    100% {
        transform: scale(0.95);
        opacity: 0.1;
    }
}

@keyframes pulseDropShadow {
    0% {
        filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.4));
    }
    100% {
        filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.4)) drop-shadow(0 0 25px rgba(255, 50, 50, 0.6));
    }
}