.homePage-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.hero-container {
    position: relative;
    pointer-events: none;
    z-index: 10;
    width: 100%;
    height: 200vh;
}

.hero-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.hero-header {
  position: fixed;
  width: 75%;
  height: 88vh;
  top: 40px;
  left: 40px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: url('../../assets/vintage-paper-textures-background.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transform-style: preserve-3d;
  transition: transform 0.4s ease;
  /* background-image: linear-gradient(to bottom, transparent 90%, #efecdb 100%); */
}

.great-leader-image {
    position: relative;
    top: -50px;
    left: 20px;
    margin-top: 100px;
    z-index: -1;
    width: 400px;
    height: 600px;
    opacity: 0.4;
    animation: fade-in-custom 0.6s ease forwards ;
    -webkit-animation: fade-in-custom 0.6s ease forwards;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../../assets/ho-chi-minh-2026935_1280_black.png');
    mask-image: radial-gradient(50% 35%, black 70%, rgba(0, 0, 0, 0.6) 90%, transparent 100%);
    transition: transform 0.6s ease;
}
/* .great-leader-image::before {
    content: "";
    position: absolute;
    top: 0;
    margin-top: 100px;
    margin-left: -200px;
    width: 400px;
    height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../../assets/ho-chi-minh-2026935_1280_black.png');
    opacity: 0.6;
    filter: blur(4px);
} */

.hero-header .header-title {
    position: absolute;
    top: 150px;
    left: 10%;
    width: 60%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80%;
    font-size: 8rem;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    opacity: 0;
    animation: fade-in 0.6s ease forwards ;
    -webkit-animation: fade-in 0.6s ease forwards;
    animation-delay: 0.8s;
    -webkit-text-stroke-color: #000;
    text-shadow: 2px 2px 5px #1a1a1a92,
                5px 5px 70px rgba(255,255,255,0.5);
    transition: transform 0.6s ease;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-custom {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

@-webkit-keyframes fade-in-custom {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

.hero-header .header-title span {
    color: #FF6961;
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.extended-joint-container {
  position: fixed;
  z-index: 101;
  top: 5px;
  left: 65px;
  transform: rotate(89deg) scale(0.8);
  filter: contrast(60%);
}
.extended-joint-container2 {
  position: fixed;
  z-index: 101;
  top: 405px;
  left: 67px;
  transform: rotate(89deg) scale(0.8) scaleY(1.02);
  filter: contrast(60%);
}

.film-container {
  position: fixed;
  z-index: 100;
  top: 40px;
  left: 3%;
  transform-style: preserve-3d;
  border-radius: 16px;
  width: 75%;
  height: 88vh;
  border: 10px solid #8b8a89;
  pointer-events: none;
  box-shadow: #635f4c 3px 3px 6px 0px inset, #c7c7c3 -3px -3px 6px 1px inset, rgb(38, 57, 77) 0px 5px 30px -10px, rgba(103, 76, 11, 0.4) 0px 0px 0px 2px, rgba(102, 96, 12, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  transition: transform 0.4s ease;
}

.film-container::after {
  content: "";
  position: fixed;
  z-index: 100;
  top: -8px;
  left: -1.8%;
  transform-style: preserve-3d;
  border-radius: 20px;
  width: 2%;
  mask-image: linear-gradient(to right, black 45%, transparent 45%);
  height: 99%;
  border-left: 15px solid #747473;
  pointer-events: none;
}

.film, .effect {
  top: 0;
  left: 20%;
  position: absolute;
  opacity: 0.8;
  z-index: 100;
	width: 100%;
	height: 100%;
	filter: invert(1) drop-shadow(0px 0px 0px #fff1);
  transition: transform 0.4s ease;
}

.film:after, .effect:after {
	content: '';
	width: 120%;
	height: 100%;
  position: absolute;
	top: 0;
	left: 5%;
	padding-left: 100px;
	opacity: 0.5;
	animation: film-scratch 0.45s steps(1) infinite;
	background: repeating-linear-gradient(90deg, #0002 0 2px, transparent 4px 37vmin);
}

.effect:after {
  position: absolute;
	left: 30%;
	animation: effect-scratch 2s infinite;
}

.grain {
  position: absolute;
  left: -40%;
	width: 100%;
	height: 100%;
}

.grain:after {
	content: '';
  position: absolute;
	width: 110%;
	height: 110%;
	top: -5%;
	left: -5%;
	opacity: .25;
	background-image: 
		repeating-conic-gradient(black 0%, transparent .00003%, transparent .0005%, transparent .00095%),
		repeating-conic-gradient(black 0%, transparent .00005%, transparent 0.00015%, transparent 0.0009%);
	animation: grain 0.5s steps(1) infinite;
	filter: drop-shadow(0px 0px 1px black);
}

@keyframes grain {
	0%, 100% { transform: translate(0, 0); }
	10% { transform: translate(-1%, -1%); }
	20% { transform: translate(1%, 1%); }
	30% { transform: translate(-2%, -2%); }
	40% { transform: translate(3%, 3%); }
	50% { transform: translate(-3%, -3%); }
	60% { transform: translate(4%, 4%); }
	70% { transform: translate(-4%, -4%); }
	80% { transform: translate(2%, 2%); }
	90% { transform: translate(-3%, -3%); }
}

@keyframes film-scratch {
	0%, 100% { transform: translateX(0); opacity: 0.5; }
	10% { transform: translateX(-1%); }
	20% { transform: translateX(1%); }
	30% { transform: translateX(-2%); opacity: 0.75; }
	40% { transform: translateX(3%); }
	50% { transform: translateX(-3%); opacity: 0.5; }
	60% { transform: translateX(8%); }
	70% { transform: translateX(-3%); }
	80% { transform: translateX(10%); opacity: 0.25; }
	90% { transform: translateX(-2%); }
}

@keyframes effect-scratch {
	0% { transform: translateX(0); opacity: 0.75; }
	10% { transform: translateX(-1%); }
	20% { transform: translateX(1%); }
	30% { transform: translateX(-2%); }
	40% { transform: translateX(3%); }
	50% { transform: translateX(-3%); opacity: 0.5; }
	60% { transform: translateX(8%); }
	70% { transform: translateX(-3%); }
	80% { transform: translateX(10%); opacity: 0.25; }
	90% { transform: translateX(20%); }
	100% { transform: translateX(30%); }
}

.screen {
  position: absolute;
  z-index: 100;
  /* width: 100%;
  height: 100%; */

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(97, 105, 98, 0.2);
  border-radius: 8px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6);
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0) 0% 30%, rgba(0, 0, 0, 0.05) 30% 50%, rgba(0, 0, 0, 0) 80% 100%);
    z-index: 2;
    background-size: 100% 10px;
    pointer-events: none;
    animation: scanlines 10s linear infinite;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0%;
    animation: screen-flicker 1.75s infinite;
  }
}

@keyframes screen-glow {
  0% { box-shadow: 0 0 25px rgb(97, 105, 98); }
  25% { box-shadow: 0 0 22px rgb(97, 105, 98); }
  50% { box-shadow: 0 0 10px rgb(97, 105, 98); }
  75% { box-shadow: 0 0 16px rgb(97, 105, 98); }
  100% { box-shadow: 0 0 25px rgb(97, 105, 98); }
}

@keyframes blink {
  90% { height: 15px; }
  95% { height: 0px; }
  100% { height: 15px; }
}

@keyframes scanlines {
  0% { background-position-y: 0; }
  100% { background-position-y: -100%; }
}

@keyframes screen-flicker {
  0% { opacity: 0%; }
  20% { opacity: 4.42222%; }
  30% { opacity: 2.41514%; }
  35% { opacity: 2.30462%; }
  40% { opacity: 5%; }
  45% { opacity: 3.82295%; }
  50% { opacity: 8%; }
  55% { opacity: 7.12097%; }
  60% { opacity: 2%; }
  65% { opacity: 3.54586%; }
  70% { opacity: 0%; }
  75% { opacity: 2.35896%; }
  80% { opacity: 8%; }
  85% { opacity: 4.19045%; }
  90% { opacity: 2%; }
  95% { opacity: 2.47037%; }
  100% { opacity: 0%; }
}

.shine {
  position: absolute;
  bottom: 50%;
  left: -25%;
  width: 150%;
  height: 150%;
  filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
}
/* 
.gibberish {
  position: absolute;
  bottom: 60px;
  left: -40px;
  display: grid;
  height: fit-content;
  font-family: "Flow Block";
  font-size: 0.2em;
  text-align: justify;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  width: 20%;
  scale: 1.2;
  --num-lines: 1;
  --line-size: 5px;
  grid-template-areas: "a1" "a2" "a3" "a4" "a5" "a6";
  grid-template-rows: repeat(var(--num-lines), var(--line-size));
  animation: area 6000ms infinite linear, fadeLastLine 1000ms infinite 500ms linear;
}
.screen .gibberish span:nth-child(1) {
  grid-area: a1;
}
.screen .gibberish span:nth-child(2) {
  grid-area: a2;
}
.screen .gibberish span:nth-child(3) {
  grid-area: a3;
}
.screen .gibberish span:nth-child(4) {
  grid-area: a4;
}
.screen .gibberish span:nth-child(5) {
  grid-area: a5;
}
.screen .gibberish span:nth-child(6) {
  grid-area: a6;
}

@keyframes fadeLastLine {
  0% {
    clip-path: polygon(0 0, 0 100%, 0 100%, 0 calc(100% - var(--line-size)), 100% calc(100% - var(--line-size)), 100% 0);
  }
  100% {
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% calc(100% - var(--line-size)), 100% calc(100% - var(--line-size)), 100% 0);
  }
}
@keyframes area {
  0% {
    grid-template-areas: "a1" "a2" "a3" "a4" "a5" "a6";
  }
  16.6666666667% {
    grid-template-areas: "a2" "a3" "a4" "a5" "a6" "a1";
  }
  33.3333333333% {
    grid-template-areas: "a3" "a4" "a5" "a6" "a1" "a2";
  }
  50% {
    grid-template-areas: "a4" "a5" "a6" "a1" "a2" "a3";
  }
  66.6666666667% {
    grid-template-areas: "a5" "a6" "a1" "a2" "a3" "a4";
  }
  83.3333333333% {
    grid-template-areas: "a6" "a1" "a2" "a3" "a4" "a5";
  }
} */

.hero-paragraph {
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 1;
    /* background-color: #efecdb; */
    display: flex;
    flex-direction: row;
    transition: transform 0.4s ease, opacity 0.4s ease;
}

.hero-paragraph.hidden {
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.2s ease;
}


.hero-paragraph .history-timeline {
    position: absolute;
    right: 0;
    top: 100%;
    opacity: 0;
    transition: opacity 0.5s ease, top 0.3s ease;
    background-color: #efecdb;
    mask-image: linear-gradient(to bottom, transparent 20%, black 40%, black 90%, transparent);
}

.hero-paragraph .history-timeline.show {
    opacity: 1;
    top: 0%;
    transition: opacity 0.2s ease, top 1s ease;
}

.hero-paragraph .history-timeline .history-timeline-container {
    width: 100%;
    height: 100%;
    position: relative;
    transition: left 0.5s ease;
}

.historical-figure-block {
    position: relative;
    z-index: 99;
    top: 0;
    width: 100%;
    height: 0;
    display: flex;
    justify-content: center;
    background-color: #efecdb;
    transition: all 0.5s ease-in;
}

.historical-figure {
  width: 100%;
  height: 100%;
}

.historical-figure1 {
    position: absolute;
    width: 1200px;
    height: 800px;
    left: -250px;
    top: -200px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url('../../assets/HoChiMinhLockedIn.jpg');
    
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    transition: transform 0.4s ease;
}
.historical-figure2 {
    position: absolute;
    width: 1200px;
    height: 800px;
    left: 480px;
    top: 500px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url('../../assets/BTATN21214BacHo6.jpg');

    mask-image: url('../../assets/black-ink-blots (2).gif');
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: 20% -20%;
    pointer-events: none;
    transition: transform 0.4s ease;
}
.historical-figure3 {
    position: absolute;
    width: 1200px;
    height: 800px;
    left: -200px;
    top: 1000px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url('../../assets/ConfrenceImage.jpg');

    mask-image: url('../../assets/black-ink-blots (3).gif');
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    pointer-events: none;
    transition: transform 0.4s ease;
}

.historical-texts1,
.historical-texts2,
.historical-texts3 {
  position: absolute;
  z-index: -1;
  width: 75vmax;
  min-height: 300px;
  background-color: white;
  color: var(--secondary-color);
  font-size: 18px;
  text-align: left;
  box-shadow: 0 40px 80px rgba(0, 0, 0, 0.6);
  transition: transform 0.4s ease;
}

.historical-texts1-upperlayer{
  position: absolute;
  z-index: 1;
  width: 75vmax;
  min-height: 400px;
  color: white;
  text-shadow: 2px 1px 1px #000000;
  background-color: transparent;
  font-size: 18px;
  text-align: left;
  pointer-events: none;
  user-select: none;
  
  mask-size: 51% 92%;
  mask-repeat: no-repeat;
  mask-position: -30% 0.6em;
  opacity: 1;
  transition: opacity 0.4s ease;
}

.historical-texts2-upperlayer {
  position: absolute;
  z-index: 1;
  width: 75vmax;
  min-height: 300px;
  color: white;
  text-shadow: 2px 1px 1px #000000;
  background-color: transparent;
  font-size: 18px;
  text-align: left;
  pointer-events: none;
  user-select: none;
  
  mask-size: 84% 182%;
  mask-repeat: no-repeat;
  mask-position: 23rem -7.9em;
  opacity: 1;
  transition: opacity 0.4s ease;
}

.historical-texts3-upperlayer {
  position: absolute;
  z-index: 1;
  width: 75vmax;
  min-height: 300px;
  color: white;
  text-shadow: 2px 1px 1px #000000;
  background-color: transparent;
  font-size: 18px;
  text-align: left;
  pointer-events: none;
  user-select: none;
  
  mask-size: 80% 180%;
  mask-repeat: no-repeat;
  mask-position: -17.2rem -9.5em;
  opacity: 1;
  transition: opacity 0.4s ease;
}

.historical-texts1::after,
.historical-texts2::after,
.historical-texts3::after {
  content: "";
  position: absolute;
  top: 100%;
  height: 20px;
  width: 100%;
  left: 0;
  background: url('../../assets/ripped.svg') bottom;
  background-size: 100%;
}

.historical-texts1 .first-letter,
.historical-texts1-upperlayer .first-letter,
.historical-texts2 .first-letter,
.historical-texts2-upperlayer .first-letter,
.historical-texts3 .first-letter,
.historical-texts3-upperlayer .first-letter {
  font-size: 46px;
  width: 100%;
}

.historical-texts1 .first-letter,
.historical-texts2 .first-letter,
.historical-texts2 .first-letter {
  margin-bottom: 20px;
  padding-left: 50px;
}
.historical-texts1-upperlayer .first-letter {
  margin: 10px 0;
  padding-left: 50px;
}

.historical-texts2-upperlayer .first-letter {
  margin: 0 0 20px 0;
  padding-left: 50px;
}

.historical-texts3-upperlayer .first-letter {
  margin: 0;
  padding-left: -2px;
}

.historical-texts1,
.historical-texts1-upperlayer {
  top:10px;
  left: 15%;
  padding: 50px 30px 30px 300px;
}

.historical-texts2,
.historical-texts2-upperlayer {
  top: 700px;
  left: 15%;
  padding: 50px 300px 30px 30px;
}

.historical-texts3,
.historical-texts3-upperlayer {
  top: 1300px;
  left: 15%;
  padding: 50px 30px 30px 250px;
}

@keyframes zoom-in {
  0% {
    transform: translateZ(-1000px);
    opacity: 0;
    filter: blur(5px);
  }
  50% {
    transform: translateZ(0px);
    opacity: 1;
    filter: blur(0px);
  }
  100% {
    transform: translateZ(1000px);
    opacity: 0;
    filter: blur(5px);
  }
}

@media (max-width: 1500px) {
  .historical-texts1-upperlayer,
  .historical-texts2-upperlayer,
  .historical-texts3-upperlayer {
    opacity: 0;
  }

  .historical-figure1 {
    left: -400px;
  }
  .historical-figure2 {
    left: 750px;
  }
  .historical-figure3 {
    left: -600px;
  }
}

.stuck-grid {
  block-size: 100svh;
  perspective: 1000px;
  transform-style: preserve-3d;
  
  display: grid;
  grid: repeat(4, 25dvh) / repeat(4, 25dvw);;
  place-items: center;

  position: relative;
  top: 0;
  z-index: 10;
  color: gray;

  overflow: clip;

  > .grid-item {
    transform-style: preserve-3d;

    font-size: 5vmin;
    font-weight: lighter;

    text-wrap: nowrap;

    @supports (animation-timeline: scroll()) {
      @media (prefers-reduced-motion: no-preference) {
        animation: zoom-in linear both;
        animation-timeline: scroll(root block);
        will-change: transform, opacity, filter;
      }
    }

    &.special.special {
      grid-row: 2 / span 2;
      grid-column: 2 / span 2;
    }

    &:nth-of-type(1)  { animation-range: 40% 50%;  }
    &:nth-of-type(2)  { animation-range: 20% 30% }
    &:nth-of-type(3)  { animation-range: 52% 62% }
    &:nth-of-type(4)  { animation-range: 50% 60% }
    &:nth-of-type(5)  { animation-range: 45% 55% }
    &:nth-of-type(6)  { animation-range: 10% 20% }
    &:nth-of-type(7)  { animation-range: 90% 100% }
    &:nth-of-type(8)  { animation-range: 30% 40% }
    &:nth-of-type(9)  { animation-range: 80% 90% }
    &:nth-of-type(10) { animation-range: 70% 80% }
    &:nth-of-type(11) { animation-range: -10% 50% }
    &:nth-of-type(12) { animation-range: 52% 62% }
    &:nth-of-type(13) { animation-range: 15% 25% }
    &:nth-of-type(14) { animation-range: 7% 17% }
    &:nth-of-type(15) { animation-range: 75% 85% }
    &:nth-of-type(16) { animation-range: 3% 13% }
    &:nth-of-type(17) { animation-range: 87% 97% }
    &:nth-of-type(18) { animation-range: 42% 52% }
    &:nth-of-type(19) { animation-range: 57% 67% }
    &:nth-of-type(20) { animation-range: 37% 47% }
    &:nth-of-type(21) { animation-range: 12% 22% }
    &:nth-of-type(22) { animation-range: 8% 18% }
    &:nth-of-type(23) { animation-range: 84% 94% }
    &:nth-of-type(24) { animation-range: 33% 43% }
    &:nth-of-type(25) { animation-range: 48% 58% }
    &:nth-of-type(26) { animation-range: 13% 23% }
    &:nth-of-type(27) { animation-range: 78% 88% }
    &:nth-of-type(28) { animation-range: 62% 72% }
    &:nth-of-type(29) { animation-range: 31% 41% }
    &:nth-of-type(30) { animation-range: 8% 18% }
    &:nth-of-type(31) { animation-range: 4% 14% }
    &:nth-of-type(32) { animation-range: 74% 84% }
    &:nth-of-type(33) { animation-range: 61% 71% }
    &:nth-of-type(34) { animation-range: 26% 36% }
    &:nth-of-type(35) { animation-range: 63% 73% }
    &:nth-of-type(36) { animation-range: 11% 21% }
    &:nth-of-type(37) { animation-range: 89% 99% }
    &:nth-of-type(38) { animation-range: 33% 43% }
    &:nth-of-type(39) { animation-range: 88% 98% }
    &:nth-of-type(40) { animation-range: 22% 32% }
    &:nth-of-type(41) { animation-range: 16% 26% }
    &:nth-of-type(42) { animation-range: 26% 36% }
    &:nth-of-type(43) { animation-range: 66% 76% }
    &:nth-of-type(44) { animation-range: 3% 13% }
    &:nth-of-type(45) { animation-range: 44% 54% }
    &:nth-of-type(46) { animation-range: 11% 21% }
    &:nth-of-type(47) { animation-range: 23% 33% }
    &:nth-of-type(48) { animation-range: 39% 49% }
    &:nth-of-type(49) { animation-range: 59% 69% }
    &:nth-of-type(50) { animation-range: 6% 16% }
    
    @supports (animation-timeline: scroll()) {

      &:nth-of-type(1) { grid-area: 1/1 }
      &:nth-of-type(2) { grid-area: 1/2 }
      &:nth-of-type(3) { grid-area: 1/3 }
      &:nth-of-type(4) { grid-area: 1/4 }
      &:nth-of-type(5) { grid-area: 2/1 }
      &:nth-of-type(6) { grid-area: 2/2 }
      &:nth-of-type(7) { grid-area: 2/3 }
      &:nth-of-type(8) { grid-area: 2/4 }
      &:nth-of-type(9) { grid-area: 3/1 }
      &:nth-of-type(10) { grid-area: 3/2 }
      &:nth-of-type(11) { grid-area: 3/3 }
      &:nth-of-type(12) { grid-area: 3/4 }
      &:nth-of-type(13) { grid-area: 4/1 }
      &:nth-of-type(14) { grid-area: 4/2 }
      &:nth-of-type(15) { grid-area: 4/3 }
      &:nth-of-type(16) { grid-area: 4/4 }
      &:nth-of-type(17) { grid-area: 2/1 }
      &:nth-of-type(18) { grid-area: 2/2 }
      &:nth-of-type(19) { grid-area: 2/3 }
      &:nth-of-type(20) { grid-area: 2/4 }
      &:nth-of-type(21) { grid-area: 3/1 }
      &:nth-of-type(22) { grid-area: 3/2 }
      &:nth-of-type(23) { grid-area: 3/3 }
      &:nth-of-type(24) { grid-area: 3/4 }
      &:nth-of-type(25) { grid-area: 1/1 }
      &:nth-of-type(26) { grid-area: 1/2 }
      &:nth-of-type(27) { grid-area: 1/3 }
      &:nth-of-type(28) { grid-area: 1/4 }
      &:nth-of-type(29) { grid-area: 4/1 }
      &:nth-of-type(30) { grid-area: 4/2 }
      &:nth-of-type(31) { grid-area: 4/3 }
      &:nth-of-type(32) { grid-area: 4/4 }
      &:nth-of-type(33) { grid-area: 2/1 }
      &:nth-of-type(34) { grid-area: 2/2 }
      &:nth-of-type(35) { grid-area: 2/3 }
      &:nth-of-type(36) { grid-area: 2/4 }
      &:nth-of-type(37) { grid-area: 3/1 }
      &:nth-of-type(38) { grid-area: 3/2 }
      &:nth-of-type(39) { grid-area: 3/3 }
      &:nth-of-type(40) { grid-area: 3/4 }
      &:nth-of-type(41) { grid-area: 1/1 }
      &:nth-of-type(42) { grid-area: 1/2 }
      &:nth-of-type(43) { grid-area: 1/3 }
      &:nth-of-type(44) { grid-area: 1/4 }
      &:nth-of-type(45) { grid-area: 4/1 }
      &:nth-of-type(46) { grid-area: 4/2 }
      &:nth-of-type(47) { grid-area: 4/3 }
      &:nth-of-type(48) { grid-area: 4/4 }
      &:nth-of-type(49) { grid-area: 3/1 }
      &:nth-of-type(50) { grid-area: 3/2 }
      &:nth-of-type(51) { grid-area: 3/3 }
      &:nth-of-type(52) { grid-area: 3/4 }
    }
  }
}


.book-selection-block {
    margin-top: 300vh;
    position: relative;
    cursor: none;
    z-index: 100;
    width: 100%;
    height: 100vh;
    box-shadow: 0 -20px 0px #000000;
}

.give-me-some-space {
    /*background-color: rgba(255, 255, 255, 0.2);*/
    margin-top: 300vh;
    position: relative;
    cursor: none;
    z-index: 100;
    width: 100%;
    height: auto;
}



.book-selection-block::before {
  content: '';
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 11;
    width: 100%;
    height: calc(100% - 50px);
    pointer-events: none;
    border-top: 50px #3b3b3b solid;
    box-shadow: inset 0 10px 40px #333;
}

.home-page-progress-indicator {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  top: 5%;
  left: 5%;
  pointer-events: none;
}
.home-page-progress-indicator .mouse {
  transition: transform 0.4s ease;
}
.home-page-progress-indicator .mouse.end {
  transform: translateX(150%);
}

.home-page-progress-indicator svg {
  stroke: #555 !important;
}

.home-page-progress-indicator .back-to-top-button {
  position: absolute;
  bottom: 8%;
  right: 6%;
  z-index: 1000;
  width: 50px;
  height: 50px;
  color: black;
  background-color: #e7e7e7d5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transform: translateX(150%);
  transition: all 0.4s ease;
}

.home-page-progress-indicator .back-to-top-button:hover {
  background-color: #cccccc91;
}

.home-page-progress-indicator .back-to-top-button span {
  position: absolute;
  right: -10px;
  bottom: 40px;
  font-size: 12px;
  padding: 5px;
  width: 120px;
  background-color: #333;
  color: white;
  pointer-events: none;
  border: 1px solid white;
  opacity: 0;
  transition: all 0.2s ease;
}

.home-page-progress-indicator .back-to-top-button:hover span {
  bottom: 60px;
  opacity: 1;
}

.home-page-progress-indicator:has(.mouse.end) .back-to-top-button {
  pointer-events: all;
  cursor: pointer;
  transform: translateX(0%);
}