.homePage-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.hero-container {
    position: relative;
    pointer-events: none;
    z-index: 10;
    width: 100%;
    height: 200vh;
}

.hero-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.hero-header {
  position: fixed;
  width: 75%;
  height: 88vh;
  top: 40px;
  left: 40px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: url('../../assets/vintage-paper-textures-background.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transform-style: preserve-3d;
  transition: transform 0.4s ease;
  /* background-image: linear-gradient(to bottom, transparent 90%, #efecdb 100%); */
}

.great-leader-image {
    position: relative;
    top: -50px;
    left: 20px;
    margin-top: 100px;
    z-index: -1;
    width: 400px;
    height: 600px;
    opacity: 0.4;
    animation: fade-in-custom 0.6s ease forwards ;
    -webkit-animation: fade-in-custom 0.6s ease forwards;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../../assets/ho-chi-minh-2026935_1280_black.png');
    mask-image: radial-gradient(50% 35%, black 70%, rgba(0, 0, 0, 0.6) 90%, transparent 100%);
    transition: transform 0.6s ease;
}
/* .great-leader-image::before {
    content: "";
    position: absolute;
    top: 0;
    margin-top: 100px;
    margin-left: -200px;
    width: 400px;
    height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../../assets/ho-chi-minh-2026935_1280_black.png');
    opacity: 0.6;
    filter: blur(4px);
} */

.hero-header .header-title {
    position: absolute;
    top: 150px;
    left: 10%;
    width: 60%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80%;
    font-size: 8rem;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    opacity: 0;
    animation: fade-in 0.6s ease forwards ;
    -webkit-animation: fade-in 0.6s ease forwards;
    animation-delay: 0.8s;
    -webkit-text-stroke-color: #000;
    text-shadow: 2px 2px 5px #1a1a1a92,
                5px 5px 70px rgba(255,255,255,0.5);
    transition: transform 0.6s ease;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-custom {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

@-webkit-keyframes fade-in-custom {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

.hero-header .header-title span {
    color: #FF6961;
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.extended-joint-container {
  position: fixed;
  z-index: 101;
  top: 5px;
  left: 65px;
  transform: rotate(89deg) scale(0.8);
  filter: contrast(60%);
}
.extended-joint-container2 {
  position: fixed;
  z-index: 101;
  top: 405px;
  left: 70px;
  transform: rotate(89deg) scale(0.8);
  filter: contrast(60%);
}

.film-container {
  position: fixed;
  z-index: 100;
  top: 40px;
  left: 3%;
  transform-style: preserve-3d;
  border-radius: 16px 16px 0 16px;
  width: 75%;
  height: 88vh;
  border: 10px solid #815522;
  pointer-events: none;
  box-shadow: #17171763 3px 3px 6px 0px inset, #6d090936 -3px -3px 6px 1px inset, rgb(38, 57, 77) 0px 5px 30px -10px, rgba(103, 76, 11, 0.4) 0px 0px 0px 2px, rgba(102, 96, 12, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  transition: transform 0.4s ease;
}

.film-container::after {
  content: "";
  position: fixed;
  z-index: 100;
  top: -8px;
  left: -1.6%;
  transform-style: preserve-3d;
  border-radius: 20px 0 36px 0;
  width: calc(100% + 9px);
  height: 110%;
  border-left: 10px solid #543713;
  border-right: 10px solid #815522;
  border-bottom: 10px solid #b0832d;
  box-shadow: #310a0a7c -1px -5px 6px 1px inset;
  background-image: linear-gradient(to top, #000000 0%, #81591d 10%, transparent 10%);
  mask-image: linear-gradient(to bottom left, transparent 0%, transparent 1%, black 1.2%);
  pointer-events: none;
}
.film-container::before {
  content: "";
  position: fixed;
  z-index: 102;
  top: calc(100% - 20px);
  left: -1.6%;
  transform-style: preserve-3d;
  border-radius: 20px 0 36px 0;
  width: calc(100% + 9px);
  height: 11%;
  border-left: 10px solid #543713;
  border-right: 10px solid #815522;
  border-bottom: 10px solid #815522;
  border-top: 5px solid #543713;
  mask-image: linear-gradient(220deg, transparent 0%, transparent 1.2%, black 1.2%);
  background-image: linear-gradient(90deg, rgba(50, 30, 15, 0.8) 50%, transparent 50%), linear-gradient(90deg, rgba(30, 15, 5, 0.9) 50%, transparent 50%), linear-gradient(0deg, rgba(20, 10, 5, 0.7) 25%, transparent 25%), linear-gradient(0deg, rgba(40, 20, 10, 0.5) 50%, transparent 50%), linear-gradient(rgba(15, 5, 2, 0.8) 0%, transparent 100%);
  background-size: 10px 3px, 29px 5px, 37px 10px, 53px 23px, 100% 100%;
  box-shadow: #310a0a7c -1px -5px 6px 1px inset, #543713 -2px -1px 0 2px inset, inset 0 2px 10px #000000;
  pointer-events: none;
}


.film, .effect {
  top: 0;
  left: 20%;
  position: relative;
  overflow: hidden;
  transform: translateX(-220px);
  opacity: 0.8;
  z-index: 100;
	width: 100%;
	height: 100%;
	filter: invert(1) drop-shadow(0px 0px 0px #fff1);
  transition: transform 0.4s ease;
}

.film:after, .effect:after {
	content: '';
	width: 120%;
	height: 100%;
  position: absolute;
	top: 0;
	left: -50%;
	padding-left: 100px;
	opacity: 0.5;
	animation: film-scratch 0.45s steps(1) infinite;
	background: repeating-linear-gradient(90deg, #0002 0 2px, transparent 4px 37vmin);
}

.effect:after {
  position: absolute;
	left: 30%;
	animation: effect-scratch 2s infinite;
}

.grain {
  position: absolute;
  left: -40%;
	width: 100%;
	height: 80%;
}

.grain:after {
	content: '';
  position: absolute;
	width: 110%;
	height: 110%;
	top: -5%;
	left: -5%;
	opacity: .25;
	background-image: 
		repeating-conic-gradient(black 0%, transparent .00003%, transparent .0005%, transparent .00095%),
		repeating-conic-gradient(black 0%, transparent .00005%, transparent 0.00015%, transparent 0.0009%);
	animation: grain 0.5s steps(1) infinite;
	filter: drop-shadow(0px 0px 1px black);
}

@keyframes grain {
	0%, 100% { transform: translate(0, 0); }
	10% { transform: translate(-1%, -1%); }
	20% { transform: translate(1%, 1%); }
	30% { transform: translate(-2%, -2%); }
	40% { transform: translate(3%, 3%); }
	50% { transform: translate(-3%, -3%); }
	60% { transform: translate(4%, 4%); }
	70% { transform: translate(-4%, -4%); }
	80% { transform: translate(2%, 2%); }
	90% { transform: translate(-3%, -3%); }
}

@keyframes film-scratch {
	0%, 100% { transform: translateX(0); opacity: 0.5; }
	10% { transform: translateX(-1%); }
	20% { transform: translateX(1%); }
	30% { transform: translateX(-2%); opacity: 0.75; }
	40% { transform: translateX(3%); }
	50% { transform: translateX(-3%); opacity: 0.5; }
	60% { transform: translateX(8%); }
	70% { transform: translateX(-3%); }
	80% { transform: translateX(10%); opacity: 0.25; }
	90% { transform: translateX(-2%); }
}

@keyframes effect-scratch {
	0% { transform: translateX(0); opacity: 0.75; }
	10% { transform: translateX(-1%); }
	20% { transform: translateX(1%); }
	30% { transform: translateX(-2%); }
	40% { transform: translateX(3%); }
	50% { transform: translateX(-3%); opacity: 0.5; }
	60% { transform: translateX(8%); }
	70% { transform: translateX(-3%); }
	80% { transform: translateX(10%); opacity: 0.25; }
	90% { transform: translateX(20%); }
	100% { transform: translateX(30%); }
}

.screen {
  position: absolute;
  z-index: 120;
  /* width: 100%;
  height: 100%; */

  width: 100%;
  height: 98%;
  top: 0;
  left: 0;
  background-color: rgba(97, 105, 98, 0.2);
  border-radius: 8px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6);
  /* overflow: hidden; */

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0) 0% 30%, rgba(0, 0, 0, 0.05) 30% 50%, rgba(0, 0, 0, 0) 80% 100%);
    z-index: 2;
    background-size: 100% 10px;
    pointer-events: none;
    animation: scanlines 10s linear infinite;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    opacity: 0%;
    animation: screen-flicker 1.75s infinite;
  }
}

@keyframes screen-glow {
  0% { box-shadow: 0 0 20px #fff, 0 0 40px #ffffffa0; }
  25% { box-shadow: 0 0 25px #fff, 0 0 45px #ffffffa0; }
  50% { box-shadow: 0 0 10px #fff, 0 0 30px #ffffffa0; }
  75% { box-shadow: 0 0 25px #fff, 0 0 50px #ffffffa0 }
  100% { box-shadow: 0 0 20px #fff, 0 0 40px #ffffffa0; }
}

@keyframes blink {
  90% { height: 15px; }
  95% { height: 0px; }
  100% { height: 15px; }
}

@keyframes scanlines {
  0% { background-position-y: 0; }
  100% { background-position-y: -100%; }
}

@keyframes screen-flicker {
  0% { opacity: 0%; }
  20% { opacity: 4.42222%; }
  30% { opacity: 2.41514%; }
  35% { opacity: 2.30462%; }
  40% { opacity: 5%; }
  45% { opacity: 3.82295%; }
  50% { opacity: 8%; }
  55% { opacity: 7.12097%; }
  60% { opacity: 2%; }
  65% { opacity: 3.54586%; }
  70% { opacity: 0%; }
  75% { opacity: 2.35896%; }
  80% { opacity: 8%; }
  85% { opacity: 4.19045%; }
  90% { opacity: 2%; }
  95% { opacity: 2.47037%; }
  100% { opacity: 0%; }
}

.shine {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 98%;
  filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 0 20px #fff, 0 0 40px #ffffffa0;
  animation: screen-glow .75s infinite;
}

.film-strip {
  position: absolute;
  left: -49.5%;
  right: 55%;
  --s: 10px;
  width: 200%;
  height: 172%;
  rotate: 90deg;
  mask-image: linear-gradient(0deg, black 2%, transparent 4%, transparent 96%, black 98%);
  aspect-ratio: 1;
  background: 
    conic-gradient(at 50% var(--s),#222 75%,#0000 0) 
    0 0/calc(2*var(--s)) calc(100% - var(--s)) padding-box;
  border: var(--s) solid #222;
  filter: sepia(1) brightness(1) opacity(0.4);
  animation: cycle-reel .8s infinite;
}

@keyframes cycle-reel {
  0%, 100% {
    top: 0;
    transform: translateY(0px);
  }
  50% {
    top: -100%;
    transform: translateY(2px);
  }
}

@-webkit-keyframes clockwise {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes clockwise {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes counter-clockwise {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@-moz-keyframes counter-clockwise {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
.gearbox-container {
  position: absolute;
  z-index: 101;
  top: 98%;
  left: 65%;
  height: 70px;
  width: 400px;
}

.gearbox {
  background: transparent;
  height: 70px;
  width: 300px;
  position: relative;
  border: none;
  overflow: hidden;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.1);
}
.gearbox .overlay {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  -moz-box-shadow: inset 0px 0px 20px black;
  -webkit-box-shadow: inset 0px 0px 20px black;
  box-shadow: inset 0px 0px 20px black;
  -moz-transition: background 0.2s;
  -o-transition: background 0.2s;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}
.gearbox.turn .overlay {
  background: transparent;
}

.gear {
  position: absolute;
  height: 60px;
  width: 60px;
  -moz-box-shadow: 0px -1px 0px 0px #888888, 0px 1px 0px 0px black;
  -webkit-box-shadow: 0px -1px 0px 0px #888888, 0px 1px 0px 0px black;
  box-shadow: 0px -1px 0px 0px #888888, 0px 1px 0px 0px black;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  transform: translateX(20px) translateY(-40px);
}
.gear.large {
  height: 120px;
  width: 120px;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
}
.gear.large:after {
  height: 96px;
  width: 96px;
  -moz-border-radius: 48px;
  -webkit-border-radius: 48px;
  border-radius: 48px;
  margin-left: -48px;
  margin-top: -48px;
}
.gear.one {
  top: 12px;
  left: 10px;
}
.gear.two {
  top: 61px;
  left: 60px;
}
.gear.three {
  top: 110px;
  left: 10px;
}
.gear.four {
  top: 13px;
  left: 128px;
}
.gear:after {
  content: "";
  position: absolute;
  height: 36px;
  width: 36px;
  -moz-border-radius: 36px;
  -webkit-border-radius: 36px;
  border-radius: 36px;
  background: #230000;
  top: 50%;
  left: 50%;
  margin-left: -18px;
  margin-top: -18px;
  z-index: 3;
  -moz-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1), inset 0px 0px 10px rgba(0, 0, 0, 0.1), inset 0px 2px 0px 0px #6f1515, inset 0px -1px 0px 0px #888888;
  -webkit-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1), inset 0px 0px 10px rgba(0, 0, 0, 0.1), inset 0px 2px 0px 0px #090909, inset 0px -1px 0px 0px #888888;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1), inset 0px 0px 10px rgba(0, 0, 0, 0.1), inset 0px 2px 0px 0px #090909, inset 0px -1px 0px 0px #888888;
}

.gear-inner {
  position: relative;
  height: 100%;
  width: 100%;
  background: #555;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.large .gear-inner {
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
}
.gear.one .gear-inner {
  -webkit-animation: counter-clockwise 3s infinite linear;
  -moz-animation: counter-clockwise 3s infinite linear;
}
.gear.two .gear-inner {
  -webkit-animation: clockwise 3s infinite linear;
  -moz-animation: clockwise 3s infinite linear;
}
.gear.three .gear-inner {
  -webkit-animation: counter-clockwise 3s infinite linear;
  -moz-animation: counter-clockwise 3s infinite linear;
}
.gear.four .gear-inner {
  -webkit-animation: counter-clockwise 6s infinite linear;
  -moz-animation: counter-clockwise 6s infinite linear;
}
.gear-inner .bar {
  background: #555;
  height: 16px;
  width: 76px;
  position: absolute;
  left: 50%;
  margin-left: -38px;
  top: 50%;
  margin-top: -8px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.large .gear-inner .bar {
  margin-left: -68px;
  width: 136px;
}
.gear-inner .bar:nth-child(2) {
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}
.gear-inner .bar:nth-child(3) {
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
}
.gear-inner .bar:nth-child(4) {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.gear-inner .bar:nth-child(5) {
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}
.gear-inner .bar:nth-child(6) {
  -moz-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);
}

.side-gear {
	position: fixed;
  z-index: -1;
	left: calc(10% - 34px);
	bottom: 30%;
	height: 20%;
	width: 20%;
  filter: drop-shadow(0 3px 5px #202020);
	animation: gearRotate 5s infinite linear;
  transition: left 0.4s ease;
}
.side-gear-isometric {
	position: fixed;
  z-index: -2;
	left: calc(10% - 30px);
	bottom: 30%;
	height: 20%;
	width: 20%;
	animation: gearRotate 5s infinite linear;
  transition: left 0.4s ease;
}

.side-gear.left-shift {
  left: calc(10% - 244px);
}
.side-gear-isometric.left-shift {
  left: calc(10% - 244px);
}

@keyframes gearRotate {
	from {
		transform: rotateZ(0turn);
	}
	to {
		transform: rotateZ(1turn);
	}
}

/* 
.gibberish {
  position: absolute;
  bottom: 60px;
  left: -40px;
  display: grid;
  height: fit-content;
  font-family: "Flow Block";
  font-size: 0.2em;
  text-align: justify;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  width: 20%;
  scale: 1.2;
  --num-lines: 1;
  --line-size: 5px;
  grid-template-areas: "a1" "a2" "a3" "a4" "a5" "a6";
  grid-template-rows: repeat(var(--num-lines), var(--line-size));
  animation: area 6000ms infinite linear, fadeLastLine 1000ms infinite 500ms linear;
}
.screen .gibberish span:nth-child(1) {
  grid-area: a1;
}
.screen .gibberish span:nth-child(2) {
  grid-area: a2;
}
.screen .gibberish span:nth-child(3) {
  grid-area: a3;
}
.screen .gibberish span:nth-child(4) {
  grid-area: a4;
}
.screen .gibberish span:nth-child(5) {
  grid-area: a5;
}
.screen .gibberish span:nth-child(6) {
  grid-area: a6;
}

@keyframes fadeLastLine {
  0% {
    clip-path: polygon(0 0, 0 100%, 0 100%, 0 calc(100% - var(--line-size)), 100% calc(100% - var(--line-size)), 100% 0);
  }
  100% {
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% calc(100% - var(--line-size)), 100% calc(100% - var(--line-size)), 100% 0);
  }
}
@keyframes area {
  0% {
    grid-template-areas: "a1" "a2" "a3" "a4" "a5" "a6";
  }
  16.6666666667% {
    grid-template-areas: "a2" "a3" "a4" "a5" "a6" "a1";
  }
  33.3333333333% {
    grid-template-areas: "a3" "a4" "a5" "a6" "a1" "a2";
  }
  50% {
    grid-template-areas: "a4" "a5" "a6" "a1" "a2" "a3";
  }
  66.6666666667% {
    grid-template-areas: "a5" "a6" "a1" "a2" "a3" "a4";
  }
  83.3333333333% {
    grid-template-areas: "a6" "a1" "a2" "a3" "a4" "a5";
  }
} */

.radio-type-button-container {
  position: fixed;
  z-index: 100;
  right: 3%;
  bottom: 0;
  display: block;
  width: 360px;
  height: 120px;
  margin: 150px auto 0 auto;
  margin: calc(50vh - 160px) auto 0 auto;
  border-radius: 18px;
  background-image: linear-gradient(
    135deg,
    #C0BDAE,
    #B8B9B3,
    #E5E1E0
  );
  box-shadow: 0 0 0 8px #866c45 inset,
              4px 0 0 8px #705833 inset,
    0px 0px 50px -10px #384140 inset;
  animation: radio-type-button-pop-in 0.6s forwards;
}
.radio-type-button-container::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 60%;
  right: -5.5%;
  top: 25px;
  bottom: 25px;
  border-radius: 0 10px 10px 0;
  background: linear-gradient(to left, #694f27 40%, #705833 40%);
  box-shadow: -1px 0 10px #3333339a;
}
.radio-type-button-container-side {
  position: fixed;
  z-index: 10;
  width: 40px;
  height: 120px;
  right: 2.2%;
  bottom: 0;
  border-radius: 0 12px 12px 0;
  background:#705833;
  animation: radio-type-button-pop-in 0.6s forwards;
}
.radio-type-button-container.hidden,
.radio-type-button-container-side.hidden {
  animation: radio-type-button-pop-out 0.6s forwards;
}

@keyframes radio-type-button-pop-in {
  0% { bottom: -20%; }
  80% { bottom: 2%; }
  90% { bottom: -1%; }
  100% { bottom: 0; }
}

@keyframes radio-type-button-pop-out {
  0% { bottom: 0; }
  20% { bottom: 3%; }
  80% { bottom: -20%; }
  100% { bottom: -20%; }
}

.custom-radio-group {
  --transDur: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.custom-radio-group form {
  display: flex;
  gap: 0.1em;
  max-width: 20em;
  margin: auto;
  padding: 0 1em;
}

.custom-radio-group .radio-label {
  width: 100px;
  position: relative;
  display: block;
  text-align: center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.custom-radio-group .radio-input {
  background-image: linear-gradient(
    #ffffff 33%,
    #414751 58%,
    #837b52,
    #c5baa1,
    #c3adaa
  );
  border-radius: 0;
  box-shadow:
    0.1em 0 0 #2726267f inset,
    -0.1em 0 0 #27262600 inset,
    0 0.1em 0 #afa490 inset,
    0 -0.1em 0 #ffffff3f,
    0 0.2em 0.5em #0000007f,
    0 -0.1em 0 #926086 inset,
    -0.1em -0.2em 0 #ffffff7f inset;
  cursor: pointer;
  display: block;
  margin-bottom: 0.5em;
  width: 100%;
  height: 0.8em;
  transition: box-shadow 0.3s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.custom-radio-group .radio-input:checked {
  background-image: linear-gradient(
    #ffffff 33%,
    #414751 58%,
    #827a7b,
    #c0b6ac,
    #c3adaa
  );
  box-shadow:
    0.1em 0 0 #272626af inset,
    -0.1em 0 0 #272626 inset,
    0 0.1em 0 #847a62 inset,
    0 -0.1em 0 #ffffff3f,
    0 0.1em 0 #ffffff7f,
    0 -0.1em 0 #722257 inset,
    -0.1em -0.2em 0 #ffffff7f inset;
}

.custom-radio-group .radio-input:checked + span {
  opacity: 1;
}

.custom-radio-group .radio-input:focus {
  outline: transparent;
}

/* First and last input specific styles */
.custom-radio-group .radio-label:first-child .radio-input {
  border-radius: 0.4em 0 0 0.4em;
}

.custom-radio-group .radio-label:last-child .radio-input {
  border-radius: 0 0.4em 0.4em 0;
}

.radio-type-button-monitor {
  height: 65%;
  width: 88%;
  left: 7%;
  top: 26%;
  border-radius: 16px;
  background-color: #00130eba;
}

.hero-paragraph {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 1;
    /* background-color: #efecdb; */
    display: flex;
    flex-direction: row;
    transition: opacity 0.4s ease;
}

.hero-paragraph.hidden {
    opacity: 0;
    transition-delay: 0.4s !important;
    transition: opacity 4s ease;
}

.hero-paragraph .history-timeline {
    position: absolute;
    right: 0;
    top: 100%;
    opacity: 0;
    transition: opacity 0.5s ease, top 0.3s ease;
    background-color: #efecdb;
    mask-image: linear-gradient(to bottom, transparent 20%, black 40%, black 90%, transparent);
}

.hero-paragraph .history-timeline.show {
    opacity: 1;
    top: 0%;
    transition: opacity 0.2s ease, top 1s ease;
}

.hero-paragraph .history-timeline .history-timeline-container {
    width: 100%;
    height: 100%;
    position: relative;
    transition: left 0.5s ease;
}

.hero-paragraph .info-line {
  position: absolute;
  right: -10%;
  top: -12%;
  animation: mechanical-pop-in 1s forwards;
}

.hero-paragraph.hidden .info-line {
  right: 0.5%;
  animation-delay: 0.4s !important;
  animation: mechanical-pop-out 1s forwards;
}

@keyframes mechanical-pop-out {
  0% { right: 0.5%; }
  30% { right: 1%; }
  100% { right: -10%; }
}

@keyframes mechanical-pop-in {
  0% { right: -10%; }
  20% { right: 1%; }
  80% { right: 0.5%; }
  100% { right: 0.5%; }
}

.info-line ul li {
  list-style-type: none;
  position: relative;
  width: 28px;
  margin: 0 auto;
  padding-top: 50px;
  border-left: 4px solid #333;
  border-right: 4px solid #333;
  background: linear-gradient(90deg, transparent 30%, #341f0b 30%, #986a3f, #341f0b 70%, transparent 70%);
}
.info-line ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) rotate(0deg);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 2px solid #333;
  z-index: 2;
  background-image: radial-gradient(circle at center, #555555a6 20%, #81572a 25%, #633b10 40%, #341f0b 50%, #986a3f 65%, #986a3f 90%);
  box-shadow: 0 0 8px #262626b3;
}
.info-line ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  height: 200px;
  padding: 20px;
  box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.info-line ul li:nth-of-type(odd) > div {
  left: 45px;
}
.info-line ul li:nth-of-type(even) > div {
  left: -439px;
}

.info-line ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.info-line ul li:nth-of-type(odd) div {
  transform: translate3d(100px, -10px, 0) rotate(10deg);
}
.info-line ul li:nth-of-type(even) div {
  transform: translate3d(-100px, -10px, 0) rotate(10deg);
}

.historical-figure-block {
    position: fixed;
    z-index: 200;
    top: calc(100%);
    right: calc(5% - 35px);
    width: 24%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #222222ec;
    box-shadow: inset 0 0 50px #041808;
    border: 6px solid #866c45;
    border-radius: 8px;
    overflow: hidden;
    animation-delay: 0.2s !important;
    animation: informative-pop-in 1s forwards;
}

.historical-figure-block.hidden {
  top: calc(3%);
  animation: informative-pop-out 1s forwards;
}

.historical-figure-block-outer {
  position: fixed;
    z-index: 98;
    top: calc(100%);
    right: calc(5% - 40px);
    width: 24%;
    height: 700px;
    border: 6px solid rgb(119, 93, 46);
    border-radius: 8px;
    animation-delay: 0.2s !important;
    animation: informative-pop-in 1s forwards;
}
.historical-figure-block-outer.hidden {
  top: calc(3%);
  animation: informative-pop-out 1s forwards;
}

@keyframes informative-pop-in {
  0% { top: calc(100%);}
  80% { top: calc(3%);}
  90% { top: calc(5%)}
  100% { top: calc(3%);}
}

@keyframes informative-pop-out {
  0% { top: calc(3%); }
  20% { top: calc(-1%); }
  80% { top: calc(100%); }
  100% { top: calc(100%); }
}

.historical-figure1 {
    position: absolute;
    z-index: -2;
    width: 600px;
    height: 400px;
    left: -40%;
    top: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url('../../assets/4_nguy_co.png');
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    transition: transform 0.4s ease;
}
.historical-figure2 {
    position: absolute;
    z-index: -2;
    width: 1200px;
    height: 800px;
    left: -120%;
    top: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url('../../assets/BTATN21214BacHo6.jpg');

    mask-image: url('../../assets/black-ink-blots (2).gif');
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: 20% -20%;
    pointer-events: none;
    transition: transform 0.4s ease;
}
.historical-figure3 {
    position: absolute;
    z-index: -2;
    width: 800px;
    height: 400px;
    left: -80%;
    top: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url('../../assets/ConfrenceImage.jpg');

    mask-image: url('../../assets/black-ink-blots (3).gif');
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    pointer-events: none;
    transition: transform 0.4s ease;
}

.historical-texts1,
.historical-texts2,
.historical-texts3 {
  position: relative;
  z-index: -1;
  width: 90% !important;
  min-height: 650px;
  background-color: rgba(103, 103, 103, 0.4);
  color: var(--secondary-color);
  font-size: 1rem;
  text-align: left;
  box-shadow: 0 40px 80px rgba(0, 0, 0, 0.6);
  transition: all 0.4s ease;
}

.historical-texts1 .info-card,
.historical-texts2 .info-card,
.historical-texts3 .info-card {
  position: absolute;
  z-index: -1;
  top: 0%;
  height: 100%;
  width: 100%;
  left: 0;
  background: rgba(20, 16, 24, 0.7);
  border: 2px solid rgb(237, 215, 171);
}
.historical-texts1 .info-card .corner,
.historical-texts2 .info-card .corner,
.historical-texts3 .info-card .corner {
  width: 0.5rem;
  height: 0.5rem;
  border: 2px solid rgb(237, 215, 171);
  position: absolute;
}

.historical-texts1 .info-card .corner::after, .historical-texts1 .info-card .corner::before,
.historical-texts2 .info-card .corner::after, .historical-texts2 .info-card .corner::before,
.historical-texts3 .info-card .corner::after, .historical-texts3 .info-card .corner::before {
  content: "";
  position: absolute;
}
.historical-texts1 .info-card .corner::after,
.historical-texts2 .info-card .corner::after,
.historical-texts3 .info-card .corner::after {
  width: 2rem;
  height: calc(1rem - 1px);
}
.historical-texts1 .info-card .corner::before,
.historical-texts2 .info-card .corner::before,
.historical-texts3 .info-card .corner::before {
  width: calc(1rem - 1px);
  height: 2rem;
}
.historical-texts1 .info-card .corner.left,
.historical-texts2 .info-card .corner.left,
.historical-texts3 .info-card .corner.left {
  left: -0.5rem;
}
.historical-texts1 .info-card .corner.left::after,
.historical-texts2 .info-card .corner.left::after,
.historical-texts3 .info-card .corner.left::after {
  left: calc(-2px + 1rem);
  border-left: 2px solid rgb(237, 215, 171);
}
.historical-texts1 .info-card .corner.left::before,
.historical-texts2 .info-card .corner.left::before,
.historical-texts3 .info-card .corner.left::before {
  left: -1px;
  border-left: 2px solid rgb(237, 215, 171);
}
.historical-texts1 .info-card .corner.right,
.historical-texts2 .info-card .corner.right,
.historical-texts3 .info-card .corner.right {
  right: -0.5rem;
}
.historical-texts1 .info-card .corner.right::after,
.historical-texts2 .info-card .corner.right::after,
.historical-texts3 .info-card .corner.right::after {
  right: calc(-2px + 1rem);
  border-right: 2px solid rgb(237, 215, 171);
}
.historical-texts1 .info-card .corner.right::before,
.historical-texts2 .info-card .corner.right::before,
.historical-texts3 .info-card .corner.right::before {
  right: -1px;
  border-right: 2px solid rgb(237, 215, 171);
}
.historical-texts1 .info-card .corner.up,
.historical-texts2 .info-card .corner.up,
.historical-texts3 .info-card .corner.up {
  top: -0.5rem;
}
.historical-texts1 .info-card .corner.up::after,
.historical-texts2 .info-card .corner.up::after,
.historical-texts3 .info-card .corner.up::after {
  top: -1px;
  border-top: 2px solid rgb(237, 215, 171);
}
.historical-texts1 .info-card .corner.up::before,
.historical-texts2 .info-card .corner.up::before,
.historical-texts3 .info-card .corner.up::before {
  top: calc(-2px + 1rem);
  border-top: 2px solid rgb(237, 215, 171);
}
.historical-texts1 .info-card .corner.bottom,
.historical-texts2 .info-card .corner.bottom,
.historical-texts3 .info-card .corner.bottom {
  bottom: -0.5rem;
}
.historical-texts1 .info-card .corner.bottom::after,
.historical-texts2 .info-card .corner.bottom::after,
.historical-texts3 .info-card .corner.bottom::after {
  bottom: -1px;
  border-bottom: 2px solid rgb(237, 215, 171);
}
.historical-texts1 .info-card .corner.bottom::before,
.historical-texts2 .info-card .corner.bottom::before,
.historical-texts3 .info-card .corner.bottom::before {
  bottom: calc(-2px + 1rem);
  border-bottom: 2px solid rgb(237, 215, 171);
}

.historical-texts1::after,
.historical-texts2::after,
.historical-texts3::after {
  content: "";
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
  top: -30px;
  left: -30px;
  background-color: transparent;
  pointer-events: none;
  border: 30px solid rgb(20, 16, 24);
}

.historical-texts1 span,
.historical-texts2 span,
.historical-texts3 span {
  z-index: 10;
}

.historical-texts1 .historical-details {
  color: white;
  line-height: 26px;
}
.historical-texts2 .historical-details {
  color: white;
  line-height: 26px;
}
.historical-texts3 .historical-details {
  color: white;
  line-height: 26px;
}

.historical-texts1 .first-letter,
.historical-texts2 .first-letter,
.historical-texts3 .first-letter {
  font-size: 24px;
  width: 100%;
  margin-bottom: 20px;
  padding-left: 5px;
}

.historical-texts1 .highlighter,
.historical-texts2 .highlighter,
.historical-texts3 .highlighter {
  color: rgb(237, 215, 171);
  padding-right: 10px;
}

.historical-texts1 {
  top: 650px;
  left: 0;
  padding: 20px;
}

.historical-texts2 {
  left: 0;
  padding: 20px;
}

.historical-texts3 {
  left: 0;
  padding: 20px;
}

@keyframes zoom-in {
  0% {
    transform: translateZ(-1000px);
    opacity: 0;
    filter: blur(5px);
  }
  50% {
    transform: translateZ(0px);
    opacity: 1;
    filter: blur(0px);
  }
  100% {
    transform: translateZ(1000px);
    opacity: 0;
    filter: blur(5px);
  }
}

@media (max-width: 1500px) {
  .historical-texts1-upperlayer,
  .historical-texts2-upperlayer,
  .historical-texts3-upperlayer {
    opacity: 0;
  }

  .historical-figure1 {
    left: -400px;
  }
  .historical-figure2 {
    left: 750px;
  }
  .historical-figure3 {
    left: -600px;
  }
}

/* .stuck-grid {
  block-size: 100svh;
  perspective: 1000px;
  transform-style: preserve-3d;
  
  display: grid;
  grid: repeat(4, 25dvh) / repeat(4, 25dvw);;
  place-items: center;

  position: relative;
  top: 0;
  z-index: 10;
  color: gray;

  overflow: clip;

  > .grid-item {
    transform-style: preserve-3d;

    font-size: 5vmin;
    font-weight: lighter;

    text-wrap: nowrap;

    @supports (animation-timeline: scroll()) {
      @media (prefers-reduced-motion: no-preference) {
        animation: zoom-in linear both;
        animation-timeline: scroll(root block);
        will-change: transform, opacity, filter;
      }
    }

    &.special.special {
      grid-row: 2 / span 2;
      grid-column: 2 / span 2;
    }

    &:nth-of-type(1)  { animation-range: 40% 50%;  }
    &:nth-of-type(2)  { animation-range: 20% 30% }
    &:nth-of-type(3)  { animation-range: 52% 62% }
    &:nth-of-type(4)  { animation-range: 50% 60% }
    &:nth-of-type(5)  { animation-range: 45% 55% }
    &:nth-of-type(6)  { animation-range: 10% 20% }
    &:nth-of-type(7)  { animation-range: 90% 100% }
    &:nth-of-type(8)  { animation-range: 30% 40% }
    &:nth-of-type(9)  { animation-range: 80% 90% }
    &:nth-of-type(10) { animation-range: 70% 80% }
    &:nth-of-type(11) { animation-range: -10% 50% }
    &:nth-of-type(12) { animation-range: 52% 62% }
    &:nth-of-type(13) { animation-range: 15% 25% }
    &:nth-of-type(14) { animation-range: 7% 17% }
    &:nth-of-type(15) { animation-range: 75% 85% }
    &:nth-of-type(16) { animation-range: 3% 13% }
    &:nth-of-type(17) { animation-range: 87% 97% }
    &:nth-of-type(18) { animation-range: 42% 52% }
    &:nth-of-type(19) { animation-range: 57% 67% }
    &:nth-of-type(20) { animation-range: 37% 47% }
    &:nth-of-type(21) { animation-range: 12% 22% }
    &:nth-of-type(22) { animation-range: 8% 18% }
    &:nth-of-type(23) { animation-range: 84% 94% }
    &:nth-of-type(24) { animation-range: 33% 43% }
    &:nth-of-type(25) { animation-range: 48% 58% }
    &:nth-of-type(26) { animation-range: 13% 23% }
    &:nth-of-type(27) { animation-range: 78% 88% }
    &:nth-of-type(28) { animation-range: 62% 72% }
    &:nth-of-type(29) { animation-range: 31% 41% }
    &:nth-of-type(30) { animation-range: 8% 18% }
    &:nth-of-type(31) { animation-range: 4% 14% }
    &:nth-of-type(32) { animation-range: 74% 84% }
    &:nth-of-type(33) { animation-range: 61% 71% }
    &:nth-of-type(34) { animation-range: 26% 36% }
    &:nth-of-type(35) { animation-range: 63% 73% }
    &:nth-of-type(36) { animation-range: 11% 21% }
    &:nth-of-type(37) { animation-range: 89% 99% }
    &:nth-of-type(38) { animation-range: 33% 43% }
    &:nth-of-type(39) { animation-range: 88% 98% }
    &:nth-of-type(40) { animation-range: 22% 32% }
    &:nth-of-type(41) { animation-range: 16% 26% }
    &:nth-of-type(42) { animation-range: 26% 36% }
    &:nth-of-type(43) { animation-range: 66% 76% }
    &:nth-of-type(44) { animation-range: 3% 13% }
    &:nth-of-type(45) { animation-range: 44% 54% }
    &:nth-of-type(46) { animation-range: 11% 21% }
    &:nth-of-type(47) { animation-range: 23% 33% }
    &:nth-of-type(48) { animation-range: 39% 49% }
    &:nth-of-type(49) { animation-range: 59% 69% }
    &:nth-of-type(50) { animation-range: 6% 16% }
    
    @supports (animation-timeline: scroll()) {

      &:nth-of-type(1) { grid-area: 1/1 }
      &:nth-of-type(2) { grid-area: 1/2 }
      &:nth-of-type(3) { grid-area: 1/3 }
      &:nth-of-type(4) { grid-area: 1/4 }
      &:nth-of-type(5) { grid-area: 2/1 }
      &:nth-of-type(6) { grid-area: 2/2 }
      &:nth-of-type(7) { grid-area: 2/3 }
      &:nth-of-type(8) { grid-area: 2/4 }
      &:nth-of-type(9) { grid-area: 3/1 }
      &:nth-of-type(10) { grid-area: 3/2 }
      &:nth-of-type(11) { grid-area: 3/3 }
      &:nth-of-type(12) { grid-area: 3/4 }
      &:nth-of-type(13) { grid-area: 4/1 }
      &:nth-of-type(14) { grid-area: 4/2 }
      &:nth-of-type(15) { grid-area: 4/3 }
      &:nth-of-type(16) { grid-area: 4/4 }
      &:nth-of-type(17) { grid-area: 2/1 }
      &:nth-of-type(18) { grid-area: 2/2 }
      &:nth-of-type(19) { grid-area: 2/3 }
      &:nth-of-type(20) { grid-area: 2/4 }
      &:nth-of-type(21) { grid-area: 3/1 }
      &:nth-of-type(22) { grid-area: 3/2 }
      &:nth-of-type(23) { grid-area: 3/3 }
      &:nth-of-type(24) { grid-area: 3/4 }
      &:nth-of-type(25) { grid-area: 1/1 }
      &:nth-of-type(26) { grid-area: 1/2 }
      &:nth-of-type(27) { grid-area: 1/3 }
      &:nth-of-type(28) { grid-area: 1/4 }
      &:nth-of-type(29) { grid-area: 4/1 }
      &:nth-of-type(30) { grid-area: 4/2 }
      &:nth-of-type(31) { grid-area: 4/3 }
      &:nth-of-type(32) { grid-area: 4/4 }
      &:nth-of-type(33) { grid-area: 2/1 }
      &:nth-of-type(34) { grid-area: 2/2 }
      &:nth-of-type(35) { grid-area: 2/3 }
      &:nth-of-type(36) { grid-area: 2/4 }
      &:nth-of-type(37) { grid-area: 3/1 }
      &:nth-of-type(38) { grid-area: 3/2 }
      &:nth-of-type(39) { grid-area: 3/3 }
      &:nth-of-type(40) { grid-area: 3/4 }
      &:nth-of-type(41) { grid-area: 1/1 }
      &:nth-of-type(42) { grid-area: 1/2 }
      &:nth-of-type(43) { grid-area: 1/3 }
      &:nth-of-type(44) { grid-area: 1/4 }
      &:nth-of-type(45) { grid-area: 4/1 }
      &:nth-of-type(46) { grid-area: 4/2 }
      &:nth-of-type(47) { grid-area: 4/3 }
      &:nth-of-type(48) { grid-area: 4/4 }
      &:nth-of-type(49) { grid-area: 3/1 }
      &:nth-of-type(50) { grid-area: 3/2 }
      &:nth-of-type(51) { grid-area: 3/3 }
      &:nth-of-type(52) { grid-area: 3/4 }
    }
  }
} */


.book-selection-block {
    margin-top: 300vh;
    position: relative;
    cursor: none;
    z-index: 200;
    width: 100%;
    height: 100vh;
    box-shadow: 0 -20px 0px #000000;
}

.give-me-some-space {
    margin: 0;
    position: relative;
    cursor: none;
    z-index: 100;
    width: 100%;
    height: auto;
    top: -86.5vh;
}

.book-selection-block::before {
  content: '';
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 11;
    width: 100%;
    height: calc(100% - 50px);
    pointer-events: none;
    border-top: 50px #3b3b3b solid;
    box-shadow: inset 0 10px 40px #333;
}

.home-page-progress-indicator {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  top: 5%;
  left: 5%;
  pointer-events: none;
}
.home-page-progress-indicator .mouse {
  transition: transform 0.4s ease;
}
.home-page-progress-indicator .mouse.end {
  transform: translateX(150%);
}

.home-page-progress-indicator svg {
  stroke: #555 !important;
}

.home-page-progress-indicator .back-to-top-button {
  position: absolute;
  bottom: 8%;
  right: 6%;
  z-index: 1000;
  width: 50px;
  height: 50px;
  color: black;
  background-color: #e7e7e7d5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transform: translateX(150%);
  transition: all 0.4s ease;
}

.home-page-progress-indicator .back-to-top-button:hover {
  background-color: #cccccc91;
}

.home-page-progress-indicator .back-to-top-button span {
  position: absolute;
  right: -10px;
  bottom: 40px;
  font-size: 12px;
  padding: 5px;
  width: 120px;
  background-color: #333;
  color: white;
  pointer-events: none;
  border: 1px solid white;
  opacity: 0;
  transition: all 0.2s ease;
}

.home-page-progress-indicator .back-to-top-button:hover span {
  bottom: 60px;
  opacity: 1;
}

.home-page-progress-indicator:has(.mouse.end) .back-to-top-button {
  pointer-events: all;
  cursor: pointer;
  transform: translateX(0%);
}